@mixin tcb-layout-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform:  translateX(-50%) translateY(-50%);
  -moz-transform:     translateX(-50%) translateY(-50%);
  -ms-transform:      translateX(-50%) translateY(-50%);
  -o-transform:       translateX(-50%) translateY(-50%);
  transform:          translateX(-50%) translateY(-50%);
}

@mixin tcb-layout-rotate($rotate) {
  -webkit-transform:  rotate(90deg);
  -moz-transform:     rotate(90deg);
  -ms-transform:      rotate(90deg);
  -o-transform:       rotate(90deg);
  transform:          rotate(90deg);
}

@mixin tcb-primary-padding {
  padding: 20px;
}

@mixin tcb-flex-width($justify-content) {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: $justify-content;
  -moz-flex-flow: row wrap;
  -moz-justify-content: $justify-content;
  -ms-flex-flow: row wrap;
  -ms-justify-content: $justify-content;
  -o-flex-flow: row wrap;
  -o-justify-content: $justify-content;
  flex-flow: row wrap;
  justify-content: $justify-content;
}